.orders{
    width: 100%;
    min-height: 100vh;
    /* background-color: rebeccapurple; */
    padding-right: 20px;
    padding-left: 300px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.dashboard{
    height: 15vh;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: #e7e7e7; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
}


.dash{
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 20px 20px 50px rgba(215, 215, 215, 0.341);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dash h3{
    font-weight: 500;
    color: #000;
    font-size: 1rem;
}
.dash h4{
    font-weight: 800;
    color: #00277b;
    font-size: 1.5rem;
}



.header{
    color: #000;
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 700;
}

.bar{
    width: 80px;
    height: 5px;
    background-color: #000;
    border-radius: 20px;
}

.order_content{
    height: 30vh;
    width: 100%;
    margin-top: 50px;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 0px 10px 30px rgba(149, 149, 149, 0.494);
}

.order_content.active{
    display: none;
}


.order_header{
    height: 8vh;
    width: 100%;
    background-color: #f9f9f9 ;
    border-bottom: 1px solid #bababa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;

}

.order_header h3{
    color: grey;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
}

.order_header h4{
    color: #000;
    font-weight: 500;
    font-size: 1rem;
    float: right;
}

.right{
    float: right;
    color: rebeccapurple;
}

.order-detail{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 22vh;
    /* background-color: rgba(0, 0, 0, 0.3) ; */
    
}
.marker{
    width: 5px;
    height: 100%;
    background-color: #00277b;
}

.map-content{
    width: 20%;
    height: 170px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: orange;
    border-radius: 25px ;
    overflow: hidden;
}

.order-det{
    width: 60%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px; 
}

.order-det .column{
    height: 100%;
    /* background-color: rgb(242, 242, 242); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 80px;
}

.order-det h3{
    font-size: 1rem;
    color:#000000;
}

.map-content Map{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.buttons{
    height: 100%;
    width: 20%;
    /* background-color: #bababa; */
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 10px 20px
}

.buttons a{
    text-decoration: none;
    background-color: #00277b;
    padding: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
    scroll-behavior: smooth;
}
/* 
a:nth-child(2){
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
} */